@page "/"

@using BowlingPainelOnBlazor.Data
@using Microsoft.AspNetCore.Components.Rendering
@using Bowling.Domain.Game.Interfaces
@inject BowlingService BowlingService
@inject ToastService toastService

<h1>Bem vindo ao painel do Boliche!</h1>

<strong>AMQP</strong> @{IsAMQPEnable(__builder);}

@code {

    protected override Task OnInitializedAsync()
    {
        BowlingService.OnChange += (o, e) => InvokeAsync(StateHasChanged);
        return base.OnInitializedAsync();
    }

    private void IsAMQPEnable(RenderTreeBuilder __builder)
    {
        switch (BowlingService.GetStatus())
        {
            case IAmqpService.ConnectionStatus.CONECTING:
                <span>Conectando...</span>
                break;
            case IAmqpService.ConnectionStatus.CONNECTED:
                <span>Conectado</span>
                break;
            case IAmqpService.ConnectionStatus.ERROR:
                <span>@BowlingService.GetError().Message</span>
                break;
            default:
            case IAmqpService.ConnectionStatus.DISABLED:
                <span>Desabilitado</span>
                break;
        }
    }

}
