@page "/"

@using BowlingPainelOnBlazor.Data
@using Bowling.Domain.Game.Interfaces
@inject BowlingService BowlingService

<h1>Welcome to the bowling panel!</h1>

<p>
    <strong>
        <a href="/config" class="oi oi-cog"></a>
        AMQP
    </strong>
    @switch (BowlingService.GetStatus())
    {
        case IBusService.ConnectionStatus.Conecting:
            <span> Connecting...</span>
            break;
        case IBusService.ConnectionStatus.Connected:
            <span>Connected</span><br />
            <small style="font-size: 9px;margin: -7px 0 0 55px;display: flex;">@BowlingService.Info</small>
            break;
        case IBusService.ConnectionStatus.Error:
            <span> @BowlingService.GetError().Message </span>
            <small style="font-size: 9px;margin: -7px 0 0 55px;display: flex;">@BowlingService.Info</small>
            break;
        default:
        case IBusService.ConnectionStatus.Disabled:
            <span> Disabled </span>
            break;
    }
</p>

@code {

    protected override Task OnInitializedAsync()
    {
        BowlingService.BusService.OnConnection += (o) => InvokeAsync(StateHasChanged);
        return base.OnInitializedAsync();
    }

}